@model List<DataLayer.Entities.Article>
@{
    ViewData["Title"] = "ShowArticles";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}


    <div class="col-md-9 col-12 p-0">
        <div>
            <a class="btn mb-2 btn-success" href="/panel/CreateArticle"> create </a>
        </div>
        <section class="table-holder">
            <table class="tabel-content d-none d-md-block">
                
                    <tr>
                        <th>
                            عملیات
                        </th>
                        <th>
                            نمایش در اسلاید
                        </th>
                        <th>
                            تاریخ ساخت
                        </th>
                        <th>
                            توضیحات
                        </th>

                        <th>
                            عنوان
                        </th>
                        <th>
                            عکس
                        </th>
                    </tr>

                
                
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a href="/Panel/EditArticle/@item.ArticleId "> Edit </a>
                                <a href="/Panel/DeleteAticle/@item.ArticleId " onclick="DeleteClick(@item.ArticleId)" data-toggle="modal" data-target="#myModal"> delete </a>
                            </td>
                            <td>
                                @item.ShowSlide
                            </td>
                            <td>
                                @item.CreateDate 
                            </td>
                            <td >
                                @item.Describtion
                            </td>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.ArticlePicture
                            </td>
                        </tr>
                    }

                

   
            </table>

        </section>
        <div class="d-block d-md-none bg-success">
            @foreach (var item in Model)
            {
                <div class="article-table">
                    <div class="row article-table-item">
                        <div class="col-7"> @item.ArticlePicture</div>
                        <div class="col-5">عکس</div>
                    </div>
                    <div class="row article-table-item">
                        <div class="col-7"> @item.Title</div>
                        <div class="col-5">عنوان</div>
                    </div>
                    <div class="row article-table-item">
                        <div class="col-7"> @item.Describtion</div>
                        <div class="col-5">توضیحات</div>
                    </div>
                    <div class="row article-table-item">
                        <div class="col-7"> @item.CreateDate</div>
                        <div class="col-5">تاریخ ثبت نام </div>
                    </div>
                    <div class="row article-table-item">
                        <div class="col-7"> @item.ShowSlide</div>
                        <div class="col-5">نمایش در اسلاید</div>
                    </div>
                    <div class="row article-table-item">
                        <div class="col-7">
                            <a href="/Panel/EditArticle/@item.ArticleId " class="btn btn-success mr-2 py-1"> Edit </a>
                            <a onclick="DeleteClick(@item.ArticleId)" data-toggle="modal" data-target="#myModal" class="btn btn-danger py-1"> delete </a>
                        </div>
                        <div class="col-5">عملیات</div>
                    </div>
                </div>
                <div class="article-table" >
                    <div class="row">
                        <div class="col-6"> @item.ArticlePicture</div>
                        <div class="col-6">عکس</div>
                    </div>
                    <div class="row">
                        <div class="col-6"> @item.Title</div>
                        <div class="col-6">عنوان</div>
                    </div>
                    <div class="row">
                        <div class="col-6"> @item.Describtion</div>
                        <div class="col-6">توضیحات</div>
                    </div>
                    <div class="row">
                        <div class="col-6"> @item.CreateDate</div>
                        <div class="col-6">تاریخ ثبت نام </div>
                    </div>
                    <div class="row">
                        <div class="col-6"> @item.ShowSlide</div>
                        <div class="col-6">نمایش در اسلاید</div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <a href="/Panel/EditArticle/@item.ArticleId "> Edit </a>
                            <a onclick="DeleteClick(@item.ArticleId)" data-toggle="modal" data-target="#myModal"> delete </a>
                        </div>
                        <div class="col-6">عملیات</div>
                    </div>
                </div>
            }
        </div>
    </div>



<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="p-2 border-bottom">
                <button type="button" class="btn btn-danger" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body py-4">
                <div id="ModalBody">

                </div>
            </div>

            <!-- Modal footer -->

        </div>
    </div>
</div>

@section ModalScript{
    <script>
        function DeleteClick(id) {
            $.get("/Panel/DeleteArticle/" + id, function (res) {
                ModalBody.innerHTML = res

            })
        }


    </script>
}